{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h3>Tableau d'administration</h3>
        <p class='text-muted'>
            <ul class="list-group">
                <a class="btn" href="{{ url_for('admin_users') }}"><li class="list-group-item list-group-item-light">Utilisateurs</li></a>
                <a class="btn" href="{{ url_for('admin_delete_user') }}"><li class="list-group-item list-group-item-light">Posts</li></a>
                <a class="btn" href="{{ url_for('logs') }}"><li class="list-group-item list-group-item-light">Logs</li></a>
            </ul>
        </p>
    </div>
{% endblock content %}